version: "3.9"

services:
  backend:
    build: ./backend
    ports:
      - "5005:5005"
    env_file:
      - ./backend/.env
    restart: always

  frontend:
    build: ./frontend/my-app
    ports:
      - "5173:5173"
    depends_on:
      - backend
    restart: always
