.chatbox {
  display: flex;
  flex-direction: column;
  height: 60vh;
  background: #1e1e1e;
  border-radius: 10px;
  border: 1px solid #333;
  overflow: hidden;
  color: #fff;
}

.chatbox-header {
  padding: 10px 15px;
  background: #252526;
  border-bottom: 1px solid #333;
}

.chatbox-header h3 {
  font-size: 16px;
  margin: 0;
  font-weight: 500;
}

.chatbox-messages {
  flex: 1;
  padding: 12px;
  overflow-y: auto;
  font-size: 14px;
}

/* message container */
.message {
  margin-bottom: 10px;
  padding: 8px;
  background: #2a2d2e;
  border-radius: 6px;
  width: 90%;
}

/* your messages aligned right */
.own-message {
  margin-left: auto;
  background: #0078ff;
}

/* system message */
.system-message {
  text-align: center;
  font-size: 12px;
  color: #c3c3c3;
  background: transparent !important;
}

/* user & time */
.message-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
  opacity: 0.8;
}

.message-username {
  font-weight: 600;
  font-size: 13px;
}

.message-time {
  font-size: 11px;
}

.message-content {
  font-size: 14px;
}

/* input box */
.chatbox-input {
  display: flex;
  border-top: 1px solid #333;
  background: #1e1e1e;
}

.chatbox-input input {
  flex: 1;
  padding: 10px;
  border: none;
  background: #2a2d2e;
  color: white;
  outline: none;
  font-size: 14px;
  border-top-left-radius: 10px;
}

.chatbox-input button {
  padding: 0 20px;
  border: none;
  background: #0078ff;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  border-top-right-radius: 10px;
  transition: 0.2s ease;
}

.chatbox-input button:hover {
  background: #005fcc;
}
