.roompage {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #1e1e1e;
}

.roompage-content {
  display: flex;
  width: 100%;
  height: 100%;
}

/* LEFT SIDE (Editor + Output) */
.editor-side {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  background: #1e1e1e;
  border-right: 1px solid #333;
  overflow: hidden;
}

/* RIGHT SIDE (Chat) */
.chat-side {
  flex: 0.8;
  background: #111;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #333;
  overflow: hidden;
}
